doctype html
html(lang='en')
    head
        title Dancing Sites!
        style 
            include ../static/style.css
    body
        nav 
            ul 
                div#logo
                    img(src="/static/img/logo.png", alt="this is the logo")
                    | HDA
                li 
                    a(href="#") Home 
                li 
                    a(href="#") Contact Us
                li
                    a(href="#") Team info
                li 
                    a(href="#") About Us 

        section#introsection 
            h2 Welcome To Hemu's Dance Class 
            p  Eat Sleep Dance Repeat

        section#mission
            h2 OUR MISSION
            div#mission-container
                div.card 
                    h3 Dance practice 
                    div.card-content 
                        div.card-image
                            img(src="/static/img/logo.png", alt="tnis is dance practice image")

                        div.about-card 
                            p this is the best Dance Academy.please join this and become expert in the dance
                div.card 
                    h3 Dance the way you want
                    div.card-content
                        div.card-image 
                            img(src="/static/img/4img.png", alt="tnis is dance the way u want image")

                        div.about-card 
                            p this is the best Dance Academy.please join this and become expert in the dance
                div.card 
                    h3 Dance expert 
                    div.card-content
                        div.card-image
                            img(src="/static/img/3img.png", alt="tnis is dance expert image")

                        div.about-card 
                            p this is the best Dance Academy.please join this and become expert in the dance
        section#sponsorsection 
            h2  OUR SPONSORS 
            div.sponsor-content
                img(src="/static/img/myntra.png", alt="myntra") 
                img(src="/static/img/mercedes.png", alt="mercedes") 
                img(src="/static/img/cococola.png", alt="myntra") 
                img(src="/static/img/skypel ogo.png", alt="myntra") 

        section#footer 
            p Copyright 2023 | All the right is reserved.